.container{
    position: relative;
}

.ol {
    position: absolute;
}

.cube {
width: 175px;
height: 175px;
background-color: red;
top: 0;
left: 0;
z-index: 1;
}

.cube2 {
 width: 175px;
 height: 175px;
 background-color: blue;
 top: 100px;
 left: 100px;
 z-index: 2;
}

.cube3 {
 width: 175px;
 height: 175px;
 background-color: green;
 top: 200px;
 left: 200px;
 z-index: 1;
}